{% extends 'game1/base.html' %}

{% block content %}
<h2>Team Name:{{answer.team.name}} | Team progress:{{answer.team.progress}} | Mission step:{{answer.step}}</h2>
<img src="{{answer.selfie.url}}" alt="" style="max-width:100%;">
<img src="{{ answer.place.url }}" alt="" style="max-width:100%;"><br>
<form action="{% url 'answerDetail' answer_id=answer.pk %}" method="POST">
	{% csrf_token %}
	<input type="text" placeholder="Comment for user" value="Фотографии сделаны неправильно, попробуйте снова!" name="comment">
<input class="btn btn-success" type="submit" value="Good!" name="good"></input>
<input class="btn btn-danger" type="submit" value="Bad!" name="bad"></input>
</form>
{%endblock%}