{% extends 'game1/base.html' %}
{% load static %}

{% block header %}Game{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static "game1/css/main.css" %}">
{% endblock %}

{% block content %}


	<div class="alert alert-warning" id="error" role="alert" style="display:None;">
		Сделайте фотографии!
	</div>
	<div class="container mt-4">
		<div class="col-md-12">
			{% if messages %}
				{% for message in messages %}
				<div class="alert alert-danger" role="alert" text-align=center>
					{{message}}
				</div>
				{% endfor %}
			{% endif %}
			
			<h3 class="text-center">{{name}} #{{mission_id}}</h3>
			<h3 class="text-center">Зона:{{zone}}</h3>
			
			<h3 id="time"></h3>
			{# Time script #}
			<script>
				var finish_time = "{{finish}}";
                var start_time = "{{start}}";
				
				var deadline = new Date(finish_time).getTime();

				var x = setInterval(function() {

					// Get today's date and time
                    start_time = new Date(start_time).getTime()+1;
					var now = new Date(start_time).getTime();

					// Find the distance between now and the count down date
					var distance = deadline - new Date().getTime();

					// Time calculations for days, hours, minutes and seconds
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					// Display the result in the element with id="demo"
					document.getElementById("time").innerHTML ="Время:" + hours + "h "
					+ minutes + "m " + seconds + "s ";

					// If the count down is finished, write some text
					if (distance < 0) {
						clearInterval(x);
						document.getElementById("time").innerHTML = "EXPIRED";
						}
					}, 1000);
			</script>
			{# END TIME SCRIPT #}
		</div>

		<div class="col-md-12"><img src="{{photo}}" alt="" style="max-width:100%;" onclick="window.open(this.src);"></div><br>
		<div class="col-md-12 text-center">
			{# data-toggle="modal" data-target="#exampleModalCenter" #}
			
			{# <button type="button" class="btn btn-primary" id="selfie_btn">Make selfie</button> #}
			{# <button type="button" class="btn btn-secondary" id="place_btn">Make place photo</button> #}
			{# <button type="button" class="btn btn-danger" onclick="delete_photos()">Remove photos</button> #}
			{# SELFIE #}


			{# <input type="file" name="file" id="file" class="inputfile"/> #}
			<input type="file" accept="image/*" name="selfie_file" id="selfie" class="inputfile"/ >
			<label for="selfie" class="btn btn-primary btn-block" id="selfie_btn">Сделать селфи</label>

			<input type="file" accept="image/*" name="place_file" id="place" class="inputfile" />
			<label for="place" class="btn btn-info btn-block" id="place_btn">Сделать фотографию места</label>

			<input type="button" class="btn btn-dark btn-block" value="Получить следующую миссию" id='get_mission'>
			<p id='msg'></p>
		</div><br>
	</div>

	<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Секретное послание!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

	



{% endblock %}

{% block js %}
	<script src="{% static "game1/js/main.js" %}" defer></script>
	<script src="{% static "game1/js/webcam.min.js" %}" defer></script>

	


	{% if is_blocked %}

	<script>
		function disable_all(){
			var selfie = document.getElementById('selfie').setAttribute('disabled', 'disabled');
			var place = document.getElementById('place').setAttribute('disabled', 'disabled');
			var get = document.getElementById('get_mission').setAttribute('disabled', 'disabled');
		}
		disable_all();
		document.getElementById('msg').innerHTML="Ожидайте, ответ уже был послан!";
		var checkAnswer = setInterval(function(){
						$.ajax({
							type:"POST",
							url: "check_answer",
							data: JSON.stringify({answer_id: '{{answer_id}}'}),
							contentType: "application/json; charset=utf-8",
							data_type: 'json',
							success: function(response_2){
								var data_2 = response_2[0];
								console.log(data_2.state);
								if(data_2.state==true){
									clearInterval(checkAnswer);
									$('#exampleModalCenter').modal('show');
									$('#exampleModalCenter').on('shown.bs.modal', function(e){
										document.getElementById('modal-body').innerHTML = data_2.msg;
									});
									$('#exampleModalCenter').on('hidden.bs.modal', function(e){
										location.reload();
									});
								}
								else if(data_2.state==false){
									clearInterval(checkAnswer);
									$('#exampleModalCenter').modal('show');
									$('#exampleModalCenter').on('shown.bs.modal', function(e){
										document.getElementById('exampleModalLongTitle').innerHTML = "Ошибка!";
										document.getElementById('modal-body').innerHTML = data_2.msg;
									});
									$('#exampleModalCenter').on('hidden.bs.modal', function(e){
										location.reload();
									});

								}
								else if(data_2.state==null){

								}
							}
						});
					}, 3000);
	</script>
	{% else %}
	<script>
	var if_blocked = setInterval(function(){
						$.ajax({
							type:"GET",
							url: "check_if_blocked",
							success: function(response){
								var data = response[0];
								if(data.blocked==true){
									
									location.reload();
									clearInterval(if_blocked);
								}else if(data.blocked==false){

								}
							}
						});
					}, 3000);
	</script>
	{% endif %}
{% endblock %}
